/*    Baby, Liza    Account:  jadrn007
        CS545, Fall 2014
        Project #1
        This file contains the specific csss rules for the web pages of proj1
*/

/*index.html*/

#banner {
    padding-top: 70px;
}
#banner img {
    display: block;
    margin: 10px auto;
    border-radius: 50px;
    border: 5px solid #e0b151;
}

h1 {
    text-shadow: 4px 4px black;
    text-align: center;
    font-size : 300%;
    color :white;
    padding-bottom: 60px;
    margin: -200px auto 0 auto;
}

h2+p:first-letter {
    font-size: 200%;
    color : #e0b151;
    
}

/*Sites.html, history.html*/

.img_left, .img_right, .img_center{
    
    padding: 5px;
    border : solid 1px black;
    text-align: center;
}
div.img_left{
    margin : auto 25px;
    float: left;
    width: auto;
}
div.img_right{
    margin : auto 25px;
    float: right;
    width: auto;
}
div.img_center{
    width: 910px;
    margin : auto;
}

.desc{
    color:#e0b151;
    width:auto;
    
}

/*food.html*/


#main_content ol li {
    color: #c6902c;
    font-weight: bold;
}
.table_right{
    float: right;
    margin-left: 10px;
    border : solid 1px black;
    border-radius: 10px 10px 0 0;
}
.table_right table {
    width: auto;
    border-spacing: 0;
    margin: auto;
    border-collapse: collapse; /* add elements in order */
    
    }
    
.table_right th{
    background-color: #E0B151;
    padding: 5px 10px;
    text-align: left;
}
.table_right th:first-child  {
    border-radius: 10px 0 0 0;
}   
    
.table_right th:last-child  {
    border-radius: 0 10px 0 0;
} 
.table_right td{
        padding: 5px 10px;
}
    
.table_right tr.even {
    background-color: #fff8ed;
}  
           
.table_right tr.odd {
    background-color: #ffeac1;
}
