/*    Baby, Liza    Account:  jadrn007
        CS545, Fall 2014
        Project #1

        This file contains the common css rules for proj1

*/
* {
    margin-top: 0;
    margin-bottom: 0;
}
html, body {
    background-color :white;
    height : 100%;
    min-width: 1000px;
    font-size :12pt;
}

.highlight{
    color:#e0b151;
}

#nav ul {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}
#nav ul li.logo{
    border: none;
    color: gold;
    padding: 5px 20px;
    text-shadow: 2px 2px black;
    font-style: oblique;
    font-weight: bold;
    font-size: 200%;
}
#nav ul li {
    display: inline;
    float: left;
    border: 3px double black;
}

#nav li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
    border: 2px solid #E0B151;
    background-color: black;
}
#nav li a:link{
    color : #e0b151;
}
#nav li a:visited{
    color :#fdd6a9
}
#nav li a:hover{
    color : black;
    background-color: #e0b151;
}
#main_content {
    padding: 5px;
    margin: auto;
    width: 90%;
}
#footer {
    width: 98%;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
}
hr{
    
    color: #bcff1a;
    margin: 10px 20px;
    
}
i{
    
    padding: 30px;
    color :#e0b151;
    font-size: 90%;
}

h2,h3{
    
    text-align: center;
    
}

h2 {
    font-size : 200%;
    padding-top: 100px;
    padding-bottom: 30px;
}

h3{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: green;
    font-size: 150%;
}
img{
    border :solid 1px black;
}

h4 {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 20px;
    color: #11a5fb;
    font-size: 120%;
}

h5 {
    
    padding-bottom: 10px;
    margin-left: 50px;
    color: #11a595;
    font-size: 110%;
}
p {
    margin : 10px 25px 10px 25px;
    text-indent: 40px;
    text-align: justify;
}

.clear_it {
    clear: both;
    }